In [89]:
fname = input('Enter First Name: ')
lname = input('Enter Last Name: ')
print('Welcome ',fname+' '+lname )

Welcome  John Alley Alley

In [90]:
## How To Provide Comments in Code

In [91]:
## Creating Storage or Variables
Fname = 'Alexa'
Fname, fname

('Alexa', 'John Alley')

In [92]:
## Type of Data or Variables
name = 'Alexa'
age = 23
weight = 55.7
married = False
com = 1+3j
type(name), type(age), type(weight), type(married), type(com)

(str, int, float, bool, complex)

In [93]:
## String Methods
name = "John Alley"
name*4
name+'@'
name.split()
name.replace('l', 'Yaaa', 1)
name.lower()
name.upper()
name.capitalize()
name.title()
name.swapcase()

'jOHN aLLEY'

In [94]:
# John's Father
print("John's Father")
print('John"s Father')

John's Father
John"s Father

In [95]:
## Type Conversion
# Int -> String
age, type(age)
age = str(age)
type(age)

# str -> int
int(age)

# int -> float
float(age)

# to complex
complex(age)

# to bool
bool(0)

False

In [1]:
int(complex(1))

TypeError: can't convert complex to int

In [96]:
## String Formatting
name = 'John'; age=24; weight = 55.77

# print(name,'Your Age: ', age, "Your Weight: ", weight )
print('{0} Your Age:  {1} Your Weight:  {2}'.format(name, age,weight))

print('%s Your Age:  %d Your Weight:  %.2f'%(name, age,weight))

print(f'{name} Your Age:  {age+1} Your Weight:  {weight}')

John Your Age:  24 Your Weight:  55.77
John Your Age:  24 Your Weight:  55.77
John Your Age:  25 Your Weight:  55.77

In [97]:
## Taking Input From User
input()

'John'

In [98]:
## Providing output to user
print("Welcome", name)

Welcome John

In [99]:
## Indentation and Indentation Error
roll = 1
 name='John'

IndentationError: unexpected indent (Temp/ipykernel_9800/3246100542.py, line 3)

In [ ]:
r1 = 1
r2 = 2

## Adv Data Types

In [56]:
## List
r = [1,2,3,4,5,6,7,'John', True]
## Accessing Data r[low:up:step]
r[5]
r[:4]
r[4:]
r[2:5]
r[::3]
r[1:5:2]
r[::-1]
r[-2]

## Updating
r[0] = 9
r[3] = 44
r[2:5] = 33,44,44
del r[0]
## List Functions
r.append('end')
r.insert(0, 'Start')
r.insert(3, 'Loc')
r.index(44)
r.count(44)
r.extend(['end', 'end'])
r.pop()
r.remove('end')
r.reverse()
r1 = [2,6,3]
r1.sort(reverse=True)
sorted(r1, reverse=True)
r.clear()
r

[]

In [63]:
## Tuple
t = (1,2,3,4,4,5,6,7,'John', True)
t.count(4)
t.index(4)
t[2] = 4
del t[2]

TypeError: 'tuple' object doesn't support item deletion

In [89]:
## Set
s1 = {1,2.5,4.5,4,5,6}
s2 = {3,4.5,4,7,8,9}
# s1[0]
s1.add(3)
s1.union(s2)
s1.intersection(s2)
s1.difference(s2), s2.difference(s1)
s1.issubset({1, 2.5})
s1.issuperset({1, 2.5})
s1.pop()
s1.remove(2.5)
s1.update({12,13,14})
s1 = {1,2.5,4.5,4,5,6}
s2 = {3,4.5,4,7,8,9}
s1.symmetric_difference(s2)

{1, 2.5, 3, 5, 6, 7, 8, 9}

In [134]:
## Dictionary
d = {1:'John', 6:'ALexa', 3:'Alley', 'branch':'CSE', 'Sub':[1,2,3]}
# Accessing Value
d[3]
d['branch']
# Updating
d[1] = 'Johny'
d['Sub']
#Adding New
d['S'] = True

## Dictionary Functions
d.get('Sub')
d.keys()
d.values()
d.items()
d.pop('S')
d.popitem()
d.update({9:9})
d.fromkeys([11,12,13], 'Default')

{11: 'Default', 12: 'Default', 13: 'Default'}

In [142]:
## Type Conversion
tuple(r1)
list(t)
set(t)

{1, 2, 3, 4, 5, 6, 7, 'John'}

In [148]:
l = [1,(2,4),[3,[4, 5]]]
l[2][1][1]

5

In [152]:
l[1][0]

2

In [5]:
## Enumerate 
enum = enumerate([["python", 'Java'], 'C++'], start=-2)
list(enum)

[(-2, ['python', 'Java']), (-1, 'C++')]

## Operators

In [14]:
## Arithmatic Operator
2+3
2-3
2*3
5/2
5//2
2**3
5%2

1

In [23]:
## Comparison
2 == 2
2 != 2
2 < 3
2 > 3
3 <= 3
3 >= 3

True

In [38]:
## Logical Operators
True and True
True and False
False and True
False and False

True or True
True or False
False or True
False or False

not True
not False

num = 19
num>18 and num%2 == 0, not (num>18 or  num%2 == 0)

(False, False)

In [43]:
## Bitwise operator

'0b110'

In [95]:
## Bitwise Operation
#5 = 1 0 1
#2 = 0 1 0
#0 = 0 0 0
5 & 2

#5 = 1 0 1
#2 = 0 1 0
#7 = 1 1 1
5|2

#5 = 1 0 1
#        1
#6 = 1 1 0
~5

# Left Shift
#5 =     1 0 1
#6 = 1 0 1 0 0

5<<4
# Left Shift
#5 =     1 0 1
#6 =     0 0 1
5>>2

#5 = 1 0 1
#3 = 0 1 1
#7 = 1 1 0
5^3

-7

In [54]:
## Assignment Operator
num = 8
num += 2
num -= 2
num *= 2
num

16

In [90]:
## Special Operator
num = 2
num2 = 2.0
num == num2

num is num2
num is not num2

'Py' in 'Python'
4 in [2,3]
4 not in [2,3]

True

In [105]:
## Conditional Statement
age = 18

if age>=18:
    print("Eligible for Debit Card!")
else:
    print("Not Eligible for Debit Card!")

Eligible for Debit Card!

In [110]:
num = 3
if num%2 == 0:
    print('Even')
else:
    print('Odd')

Odd

In [41]:
# Task 1
# Take a number from user
# Greater than 64 and even number
num = int(input("Enter a number:"))
if num >= 64 and num%2 == 0:
    if num == 64:
        print(num, " is equql to 64 and even number")
    else:    
        print(num , "is greater than 64 and even")
elif num < 64 and num%2 == 0:
    print(num," is less than 64 and even")
else:
    print(num, "odd number")

64  is equql to 64 and even number

In [45]:
## Task 2
# Sum of Results
# Take two number from user
# Show Sum (Addition, Subtraction, Multiplication and Division)
num1 =int(input("Enter 1st Number:"))
num2 = int(input("Enter 2nd Number:"))
print("The 1st Number is:", num1, "\nThe 2nd Number is:", num2)
add = num1 + num2
sub = num1 - num2
mul = num1 * num2
div = num1 / num2

sum = (add+sub+mul+div)
print("The sum result is:", sum)

The 1st Number is: 12
The 2nd Number is: 6
The sum result is: 98.0

In [115]:
## While Loops

In [ ]:
## For Loops

In [ ]:
## Break and Continue

In [ ]:
## Pass

In [ ]:
## Multi-Dimentional Data

In [ ]:
## List Coprehension

In [ ]:
## Functions and args

In [ ]:
## Variable Scopes

In [ ]:
## Lambda Functions

In [ ]:
## map() and filter()

In [ ]:
## Generators

In [ ]:
## Decorators

In [ ]:
## Working with File

In [ ]:
## Exception Handeling