In [1]:
fname = input('Enter First Name: ')
lname = input('Enter Last Name: ')
print('Welcome ',fname+' '+lname )

Welcome  Abdur Razzaqe

In [90]:
## How To Provide Comments in Code

In [2]:
## Creating Storage or Variables
Fname = 'Alexa'
Fname, fname

('Alexa', 'Abdur')

In [2]:
## Type of Data or Variables
name = 'Abdur'
age = 40
weight = 70.7
married = True
com = 1+3j
type(name), type(age), type(weight), type(married), type(com)

(str, int, float, bool, complex)

In [37]:
## String Methods
name = "John Alley"
name*4
name+'@'
name.capitalize() # Frist letters will be capital
name.casefold()   # show all the letters is lower
name.count("l")   # count the given letters
name.encode()
name.find("l")
name.partition("Jhon")
name.split()
name.title()
name.upper()
name.lower() # show all the letters is lower.

'john alley'

In [94]:
# John's Father
print("John's Father")
print('John"s Father')

John's Father
John"s Father

In [3]:
## Type Conversion
# Int -> String
age = 40
age, type(age)
age = str(age)
type(age)

str

In [68]:
## String Formatting
name = 'John'; age=24; weight = 55.77

# print(name,'Your Age: ', age, "Your Weight: ", weight )
print('{0} Your Age:  {1} Your Weight:  {2}'.format(name, age,weight))

print('%s Your Age:  %d Your Weight:  %.2f'%(name, age,weight))

print(f'Name:{name}  \n Your Age:  {age+1} \n Your Weight:  {weight}')

John Your Age:  24 Your Weight:  55.77
John Your Age:  24 Your Weight:  55.77
Name:John
 Your Age:  25
 Your Weight:  55.77

In [97]:
## Taking Input From User
input()

'John'

In [98]:
## Providing output to user
print("Welcome", name)

Welcome John

In [5]:
## Indentation and Indentation Error
roll = 1
name='John'

In [ ]:
## Adv Data Tyes

In [37]:
## List: We can store multiple valuse in a single variable. Lists are created using square brackets
## List items are changeable, ordered and allow to duplicate values. List items are indexed, the first item index is [0], than [1] like this
l1 = [1,2,5,6,3,9,'Red','Blue',44]
l1

#Accessing the items
l1[0:5]
l1[:5]
l1[3:7]
l1[3:]
l1[::2]
l1[-1]
#change the items
l1[0]= 0
l1[-1]=55
l1
l1[6:8]=[33,44]
l1

[0, 2, 'Apple', 5, 6, 3, 9, 33, 44, 55, 65]

In [ ]:
#list

In [25]:
## Tuple: 
t1 = (1,2,5,6,3,9,'Red','Blue',44, 2, 2)
t1.index('Red')
t1.count(2)

3

In [ ]:
## Set
s1 = (1,2,5,6,3,9,'Red','Blue',44, 2, 2)

In [ ]:
## Dictionary

In [ ]:
## Type Conversion

In [ ]:
## Enumerate 
enum = enumerate("python", start=100)
list(enum)

In [ ]:
## Operators

In [ ]:
## Boolean Expression

In [ ]:
## Conditional Statement

In [ ]:
## While Loops

In [ ]:
## For Loops

In [ ]:
## Break and Continue

In [ ]:
## Pass

In [ ]:
## Multi-Dimentional Data

In [ ]:
## List Coprehension

In [ ]:
## Functions and args

In [ ]:
## Variable Scopes

In [ ]:
## Lambda Functions

In [ ]:
## map() and filter()

In [ ]:
## Generators

In [ ]:
## Decorators

In [ ]:
## Working with File

In [ ]:
## Exception Handeling