1. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [11]:
for i in range(1500,2700):
    if(i%7 == 0 and i%5 == 0):
        print(i, end=" ")

1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695

2. Write a Python program to convert temperatures to and from celsius, fahrenheit. Go to the editor
[ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ]
Expected Output :
60°C is 140 in Fahrenheit
45°F is 7 in Celsius

In [14]:
m=int(input("Enter Fahrenheit"))
n=int(input("Enter celsius"))
Fahrenheit =int((m*9/5)+32)
Celsius=int((n-32)*5/9)
print(m,"°C is",Fahrenheit,"in Fahrenheit")
print(n,"°F is",Celsius,"in Celsius")

Enter Fahrenheit60
Enter celsius45
60 °C is 140 in Fahrenheit
45 °F is 7 in Celsius

3. Write a Python program to guess a number between 1 to 9. Go to the editor
Note : User is prompted to enter a guess. If the user guesses wrong then the prompt appears again until the guess is correct, on successful guess, user will get a "Well guessed!" message, and the program will exit.

In [17]:
import random
guss_num=random.randint(1,9)

while num != guss_num:
    num=input("Enter a number:")
    
print("Well guessed!")

KeyboardInterrupt: Interrupted by user

5. Write a Python program that accepts a word from the user and reverse it.

In [22]:
word = input("Enter a word")
for i in range(len(word)-1, -1, -1):
    print(word[i], end="")

Enter a wordWelcome
emocleW

6. Write a Python program to count the number of even and odd numbers from a series of numbers. 
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
Expected Output :
Number of even numbers : 5
Number of odd numbers : 4

In [25]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
odd=0
even=0
for i in numbers:
    if i%2 == 0:
        even +=1
    else:
        odd +=1
print("Number of even numbers:", even)
print("Number of odd numbers:", odd)

Number of even numbers: 4
Number of odd numbers: 5

7. Write a Python program that prints each item and its corresponding type from the following list.
Sample List : datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]

In [26]:
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]

for i in datalist:
    print(i, type(i))

1452 <class 'int'>
11.23 <class 'float'>
(1+2j) <class 'complex'>
True <class 'bool'>
w3resource <class 'str'>
(0, -1) <class 'tuple'>
[5, 12] <class 'list'>
{'class': 'V', 'section': 'A'} <class 'dict'>

8. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
Note : Use 'continue' statement.
Expected Output : 0 1 2 4 5

In [29]:
for i in range(0,6):
    if i == 3 or i == 6:
        continue
    print(i)

0
1
2
4
5

9. Write a Python program to get the Fibonacci series between 0 to 50. 
Note : The Fibonacci Sequence is the series of numbers :
0, 1, 1, 2, 3, 5, 8, 13, 21, ....
Every next number is found by adding up the two numbers before it.
Expected Output : 1 1 2 3 5 8 13 21 34

In [34]:
a = 1
b = 0
x = 50
#print(b, end=" ")
while a < x:
    c=b
    b=a
    print(a, end=" ")
    a=c+b

1 1 2 3 5 8 13 21 34

10. Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".
Sample Output :
fizzbuzz
1
2
fizz
4
buzz

In [39]:
print("fizzbuzz", end=" ")
for i in range(50):
    if (i%3==0 and i%5==0):
        i="FizzBuzz"
    elif i%3 == 0:
        i="Fizz"
    elif i%5 ==0:
        i="Buzz"
    else:
        i=i
    print(i, end=" ")

fizzbuzz FizzBuzz 1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49

In [47]:
for fizzbuzz in range(51):
    if (fizzbuzz%3==0 and fizzbuzz%5==0):
        print("fizzbuzz", end=" ")
        continue
    elif fizzbuzz%3 == 0:
        print("fizz", end=" ")
        continue
    elif fizzbuzz%5 ==0:
        print("buzz", end=" ")
        continue
    print(fizzbuzz, end=" ")

fizzbuzz 1 2 fizz 4 buzz fizz 7 8 fizz buzz 11 fizz 13 14 fizzbuzz 16 17 fizz 19 buzz fizz 22 23 fizz buzz 26 fizz 28 29 fizzbuzz 31 32 fizz 34 buzz fizz 37 38 fizz buzz 41 fizz 43 44 fizzbuzz 46 47 fizz 49 buzz

11. Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. 
Note :
i = 0,1.., m-1
j = 0,1, n-1.

Test Data : Rows = 3, Columns = 4
Expected Result : [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [54]:
a=100
b=100
b is a

True

In [53]:
a =200
b =200
b is a

True

In [56]:
a=input("Enter")
b=input("Enter")
print("The favorite language is %s and %s" %(a, b))

EnterBangla
EnterEnglish
The favorite language is Bangla and English

In [62]:
a = "Bangla"

for i in a:
    
    print(i)

B
a
n
g
l
a

In [67]:
a="Dhaka"
b="isthe"
c="Capitalcity."

d='-'.join((a, b, c))
d

'Dhaka-isthe-Capitalcity.'

In [70]:
a.lower()
b= "dhaka is the capital of bangladesh"
b.title()

'Dhaka Is The Capital Of Bangladesh'

In [71]:
a="Dhaka"
a.swapcase()

'dHAKA'

In [72]:
a='Dhaka Is The Capital Of Bangladesh'
a.casefold()

'dhaka is the capital of bangladesh'

In [81]:
a='Dhaka Is The Capital Of Bangladesh'.lower()
print(a.count('a'))
print(a.count('a',5 ,20))

6
2

In [82]:
b= "dhaka is the capital of bangladesh"
b.find('c')

13

In [11]:
b= "dhaka is the capital of bangladesh"
b.find('a',30)
b.find('x')

-1

In [15]:
b= "dhaka is the capital of bangladesh"
b.replace('capital', 'capitalcity')

'dhaka is the capitalcity of bangladesh'

In [17]:
b= 'How can a clam cram in a clean cream can?'
b.strip("?")
b.split(" ")

['How', 'can', 'a', 'clam', 'cram', 'in', 'a', 'clean', 'cream', 'can?']

List

In [18]:
a = []
type(a)

list

In [20]:
a=['onion','potato', 'ginger', 'cucumber']
type(a)
a[0]

'onion'

In [68]:
b=['onion','potato', 'ginger', 'cucumber',1,6,3.4,(1,2,3),{2:'raju'},{4,5}]
type(b[0])
b.index({2:'raju'})
b[8]="Apple"
b[7]= "Orange"
b[9]="Kiwi"
b.append("Rose")
b.insert(5,"Bean")
b.extend(["Banana", "Oil", 3, 7])
b=b+['add',3,5,6]+['Blue',9,1]
del b[7]
b.remove(1)
b.pop()
print(b, end= '')
len(b)
b.count(9)

['onion', 'potato', 'ginger', 'cucumber', 'Bean', 6, 'Orange', 'Apple', 'Kiwi', 'Rose', 'Banana', 'Oil', 3, 7, 'add', 3, 5, 6, 'Blue', 9]

1

In [69]:
b.reverse()
print(b, end=" ")

[9, 'Blue', 6, 5, 3, 'add', 7, 3, 'Oil', 'Banana', 'Rose', 'Kiwi', 'Apple', 'Orange', 6, 'Bean', 'cucumber', 'ginger', 'potato', 'onion']

In [75]:
c=['onion', 'potato', 'ginger', 'cucumber', 'Bean','Orange', 'Apple', 'Kiwi', 'Rose', 'Banana', 'Oil','add','Blue', ':','3']
c.sort()
print(c, end=" ")

['3', ':', 'Apple', 'Banana', 'Bean', 'Blue', 'Kiwi', 'Oil', 'Orange', 'Rose', 'add', 'cucumber', 'ginger', 'onion', 'potato']

In [74]:
d=[9,1,10,22,3,4,5,6,8]
d.sort()
d

[1, 3, 4, 5, 6, 8, 9, 10, 22]

Tuple

In [104]:
a=(2,4,5,6,7,3,9,2,3,2,3,9.5,"Rose","Apple")
type(a)
a.count(2)
a.index(3)
a
a[2:14:2]
a[-1]
a[::-2]
type(a[11])
a=a+('orange',)
a
len(a)
a.count(2)

3

Set

In [117]:
a = {1,2,3,4,5,6,7,8,9}
b = {5,6,7,8,10,11,12,13}
print('a=',a, '\nb=',b)
c=set("Banana")
c
type(c)

a= {1, 2, 3, 4, 5, 6, 7, 8, 9}
b= {5, 6, 7, 8, 10, 11, 12, 13}

set

In [128]:
A = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
A
A.update({"kiwi"})
#A.remove("blue")
A.discard("banana")
A.update({"banana"})
A.pop()
A

{'banana', 'kiwi', 'orange', 'pear'}

In [132]:
#Union
a = {1,2,3,4,5,6,7,8,9}
b = {5,6,7,8,10,11,12,13}
c=a.union(b)
print("a=",a,"\nb=",b,"\nc(a u b )=",c)

a= {1, 2, 3, 4, 5, 6, 7, 8, 9}
b= {5, 6, 7, 8, 10, 11, 12, 13}
c(a u b )= {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [139]:
#intersection
a = {1,2,3,4,5,6,7,8,9}
b = {5,6,7,8,10,11,12,13}
c=a.intersection(b)

print("a=",a,"\nb=",b)
c
#A = {1, 2, 3, 4, 5}
#B = {2, 3, 4, 5, 6, 7}
#A.intersection(B)

a= {1, 2, 3, 4, 5, 6, 7, 8, 9}
b= {5, 6, 7, 8, 10, 11, 12, 13}

{5, 6, 7, 8}

In [142]:
#difference
a = {1,2,3,4,5,6,7,8,9}
b = {5,6,7,8,10,11,12,13}
print(a.difference(b))
b.difference(a)

{1, 2, 3, 4, 9}

{10, 11, 12, 13}

Dictionaries

In [151]:
a = {'name' : 'MD. Maksudur Rahman Khan', 'nickname' : 'Maateen', 'email' : 'maateen@outlook.com', 'phone' : '01711223344'}
a['name']="Muhammad Abdur Razzaqe"
a['hometown'] = 'Savar'
a

{'name': 'Muhammad Abdur Razzaqe',
 'nickname': 'Maateen',
 'email': 'maateen@outlook.com',
 'phone': '01711223344',
 'hometown': 'Savar'}

In [153]:
a = {'name' : 'MD. Maksudur Rahman Khan', 'nickname' : 'Maateen', 'email' : 'maateen@outlook.com', 'phone' : '01711223344'}

b = {'home' : 'Dhamrai', 'Dist': 'Dhaka'}
a.update(b)
a

{'name': 'MD. Maksudur Rahman Khan',
 'nickname': 'Maateen',
 'email': 'maateen@outlook.com',
 'phone': '01711223344',
 'home': 'Dhamrai',
 'Dist': 'Dhaka'}

প্রবলেম-১
ইউজার একটা পূর্ণসংখ্যা ইনপুট দেবে। সংখ্যাটি ৩ ও ৫ দ্বারা নিঃশেষে বিভাজ্য হলে আউটপুট হবে Yes আর না হলে আউটপুট হবে No।

In [155]:
n=int(input("Enter a number:"))
if n%3 == 0 and n%5 ==0:
    print("Yes")
else:
    print("No")

Enter a number:15
Yes

প্রবলেম-২
ইউজার একটা সংখ্যা ইনপুট দেবে। সংখ্যাটি ধনাত্মক হলে আউটপুট হবে Positive, ঋণাত্মক হলে আউটপুট হবে Negative আর জিরো হলে আউটপুট Zero হবে।

In [164]:
num=int(input("Enter a number"))

if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number1
Positive

প্রবলেম-৩
ইউজার একটি পূর্ণসংখ্যা ইনপুট দেবে। সংখ্যাটি জোড় হলে আউটপুট হবে Even আর বিজোড় হলে আউটপুট Odd হবে।

In [166]:
num=int(input("Enter a number"))
if num%2 == 0:
    print("Even number")
else:
    print("Odd number")

Enter a number9
Odd number

প্রবলেম-৪
ইউজার একটি ক্যারেক্টার (আলফাবেট) ইনপুট দেবে। ক্যারেক্টারটা ছোট হাতের অক্ষর হলে আউটপুট হবে Lower Case আর বড় হাতের অক্ষর হলে হবে Upper Case। যদি ক্যারেক্টারটা আলফাবেটের মধ্যে না পড়ে, তবে আউটপুট Nothing হবে।

In [173]:
char=input()

if char >='a' and char <='z':
    print("Lower Case")
elif char >='A' and char <='Z':
    print("Upper Case")
else:
    print("Nothing")

A
Upper Case

প্রবলেম-৫
ইউজার একটি ক্যারেক্টার (আলফাবেট) ইনপুট দেবে। ক্যারেক্টারটা ভাওয়েল (Vowel) হলে আউটপুট হবে Vowel আর কনসোনেন্ট (Consonant) হলে হবে Consonant; যদি ক্যারেক্টারটা আলফাবেটের মধ্যে না পড়ে, তবে আউটপুট হবে Nothing.

In [178]:
char = input()

vowel =('a','e','i','o','u','A','E','I','O','U')

if char >='a' and char <='z' or char >='A' and char <='Z':
    if char in vowel:
        print("Vowel")
    else:
          print("Consonant")      
              
else:
    print("Nothing")

d
Consonant

প্রবলেম-৬
ইউজার একটা পূর্ণসংখ্যা ইনপুট দেবে, এই ইনপুট হল তার লাঞ্চ বিল। এবার এটাকে আমাদের দেশের হিসেব অনুযায়ী কত টাকার কয়টা নোট দিয়ে বিল দেয়া যাবে সেটা বের করতে হবে।

In [12]:
lbill=int(input("Enter your lunch Bill:"))

gbill=lbill

notes=lbill//1000
print(notes,"1000 Taka note(s).")

if notes > 0:
    lbill=lbill%1000
    gbill=lbill
else:
    lbill=gbill
    
notes=lbill//500
print(notes,"500 Taka note(s),")

if notes > 0:
    lbill=lbill%500
    gbill=lbill
else:
    lbill=gbill

notes =lbill//200
print(notes,"200 Taka note(s).")
if notes > 0:
    lbill=lbill%200
    gbill=lbill
else:
    lbill=gbill
    
notes=lbill//100
print(notes,"100 Taka note(s).")
if notes > 0:
    lbill=lbill%100
    gbill=lbill
else:
    lbill=gbill

notes=lbill//50
print(notes,"5o Taka note(s).")
if notes > 0:
    lbill=lbill%50
    gbill=lbill
else:
    lbill=gbill

notes=lbill//20
print(notes,"20 Taka note(s)")
if notes > 0:
    lbill=lbill%20
    gbill=lbill
else:
    lbill=gbill
notes=lbill//10
print(notes,"10 Taka note(s)")
if notes > 0:
    lbill=lbill%10
    gbill=lbill
else:
    lbill=gbill   
notes=lbill//5
print(notes,"5 Taka note(s)")
if notes > 0:
    lbill=lbill%5
    gbill=lbill
else:
    lbill=gbill 
notes=lbill//2
print(notes,"2 Taka note(s)")
if notes > 0:
    lbill=lbill%2
    gbill=lbill
else:18
    lbill=gbill 
notes=lbill//1
print(notes,"1 Taka note(s)")
if notes > 0:
    lbill=lbill%1
    gbill=lbill
else:
    lbill=gbill

Enter your lunch Bill:1879
1 1000 Taka note(s).
1 500 Taka note(s),
1 200 Taka note(s).
1 100 Taka note(s).
1 5o Taka note(s).
1 20 Taka note(s)
0 10 Taka note(s)
1 5 Taka note(s)
2 2 Taka note(s)
0 1 Taka note(s)

ইউজার তার জন্মসাল ইনপুট দেবে। চেক করে দেখতে হবে সেটা লিপ-ইয়ার কিনা।

In [23]:
year=int(input("Enter a year:"))

if year%4 == 0:
    if year%100 == 0:
        if year%400 == 0:
            print(year," is a leap-year.")
        else:
            print(year,"is not a leap-year.")
    else:
        print(year,"is a leap-year.")
else:
    print(year,"is not a leap-year.")

Enter a year:2014
2014 is not a leap-year.

ইউজার একটা সংখ্যা ইনপুট দেবে। সেটাকে আপনার স্কুল/কলেজ/বিশ্ববিদ্যালয়ের গ্রেডিং সিস্টেম অনুসারে হিসেব-নিকেশ করে A+ বা B- বা F ইত্যাদি আউটপুট দেখাতে হবে।

In [32]:
marks = int(input("Enter your marks:"))

if marks >=90:
    print("Congratulation!, your grade is A+.")
elif marks >=80 and marks <=89:
    print("Your grade is A.")
elif marks >=70 and marks <=79:
    print("Your grade is B+.")
elif marks >=60 and marks <=69:
    print("Your grade is B.")
elif marks >=50 and marks <=59:
    print("Your grade is C.")
else:
    print("Sorry!, you are fail.")

Enter your marks:49
Sorry!, you are fail.

Loop

In [37]:
n=1
while n <=10:
    print(n)
    n=n+1

1
2
3
4
5
6
7
8
9
10

শতকিয়া যোগ হল ১ থেকে ১০০ পর্যন্ত সংখ্যাগুলোকে যোগ করা। মানে 1+2+3+4+…+100 = ? বের করা। while লুপ ব্যবহার করে আমরা এখন এটার সলিউশন করব।

In [40]:
n=0
temp = n
while n <=100:
    temp=temp+n
    n=n+1
print(temp)

5050

In [43]:
n=100

temp =int((n*(n+1))/2)
print(temp)

5050

$$1+3+5+7+ … +97 = ?$$

In [45]:
n = 0
temp =n
while n <=97:
    if n%2 != 0:
        temp =temp +n
    n = n +1
print(temp)

2401

In [46]:
n = 0
temp =n
while n <=97:
    temp = temp + n
    n = n + 2
print(temp)

2352

For

In [51]:
a = ['onion', 'potato', 'ginger', 'cucumber']
print(type(a))
for n in a:
    print(n)

<class 'list'>
onion
potato
ginger
cucumber

In [59]:
a = {'name' : 'MD. Maksudur Rahman Khan', 'nickname' : 'Maateen', 'email' : 'maateen@outlook.com', 'phone' : '01711223344'}
type(a)
a.items()

for (key, value) in a.items():
    print(key, value)

name MD. Maksudur Rahman Khan
nickname Maateen
email maateen@outlook.com
phone 01711223344

In [60]:
a='Python'
for i in a:
    print(i)

P
y
t
h
o
n

In [61]:
list(range(5))

[0, 1, 2, 3, 4]

In [62]:
list(range(1,21,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [76]:
for i in range(1,11):
     
    if i == 5:
        pass
         
    print(i)

1
2
3
4
5
6
7
8
9
10

Whole loop qith else

In [78]:
n=1
while n <=10:
    print(n)
    n=n+1
else:
    print("The loop is over")

1
2
3
4
5
6
7
8
9
10
The loop is over

In [80]:
for i in range(1,11):
    print(i)
else:
    print("loop is over")

1
2
3
4
5
6
7
8
9
10
loop is over

প্রবলেম-১
ইউজার যেকোনো একটা পূর্ণসংখ্যা ইনপুট দেবে। আর ওই পূর্ণসংখ্যার নামতা আউটপুট হিসেবে দেখাতে হবে।

In [89]:
num=int(input("Enter a number: "))

for i in range(1,11):
    j = num * i
    print(num,"X",i,"=",j)

Enter a number: 3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [95]:
num=int(input("Enter a number: "))
n=1
while n <=10:
    j = num * n
    print(num,"X",n,"=",j)
    n +=1

Enter a number: 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

প্রবলেম-২
১ থেকে ১০০ পর্যন্ত যেসব সংখ্যা ৩ দ্বারা নিঃশেষে বিভাজ্য কিন্তু ৫ দ্বারা নয়, তাদের লিস্ট আউটপুট হিসেবে দেখাতে হবে।

In [98]:
for i in range(1,101):
    if i%3 == 0 and i%5 !=0:
        print(i, end=" ")

3 6 9 12 18 21 24 27 33 36 39 42 48 51 54 57 63 66 69 72 78 81 84 87 93 96 99

In [99]:
my_list=[]
for i in range(1,101):
    if i%3 == 0 and i%5 !=0:
        my_list.append(i)
print(my_list)

[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99]

প্রবলেম-৩
ধরা যাক, বিভিন্ন সংখ্যার একটি তালিকা রয়েছে। তালিকাটা নিচের মত -

13, 34, 19, 28, 46, 61, 73, 49, 1, 31, 4, 7, 91, 58, 52, 82, 70, 43, 88, 55, 97, 16, 22, 25, 79, 85, 40, 64, 94, 67, 37

এই তালিকা থেকে ৫০-এর চেয়ে ছোট সংখ্যাগুলোকে নিয়ে একটি লিস্ট বানিয়ে আউটপুট হিসেবে দেখাতে হবে।

In [102]:
a=[13, 34, 19, 28, 46, 61, 73, 49, 1, 31, 4, 7, 91, 58, 52, 82, 70, 43, 88, 55, 97, 16, 22, 25, 79, 85, 40, 64, 94, 67, 37]

for i in a:
    if i < 50:
        print(i, end= " ")

13 34 19 28 46 49 1 31 4 7 43 16 22 25 40 37

In [103]:
a=[13, 34, 19, 28, 46, 61, 73, 49, 1, 31, 4, 7, 91, 58, 52, 82, 70, 43, 88, 55, 97, 16, 22, 25, 79, 85, 40, 64, 94, 67, 37]

my_list=[]

for i in a:
    if i < 50:
        my_list.append(i)
print(my_list)

[13, 34, 19, 28, 46, 49, 1, 31, 4, 7, 43, 16, 22, 25, 40, 37]

প্রবলেম-৪
নিচের তালিকাটি লক্ষ্য করা যাক -

40, 45, 33, 34, 8, 38, 28, 22, 1, 7, 49, 41, 14, 5, 22, 39, 15, 19, 36, 37, 43, 2, 5, 42, 46, 48, 49, 12, 48, 37, 8, 20, 30, 20, 4, 37, 27, 29, 7, 44, 15, 32, 35, 10, 28, 18, 2, 15, 36, 38

এই তালিকা থেকে সকল ডুপ্লিকেট (duplicate) ভ্যালু রিমুভ করতে হবে।

In [105]:
a=[40, 45, 33, 34, 8, 38, 28, 22, 1, 7, 49, 41, 14, 5, 22, 39, 15, 19, 36, 37, 43, 2, 5, 42, 46, 48, 49, 12, 48, 37, 8, 20, 30, 20, 4, 37, 27, 29, 7, 44, 15, 32, 35, 10, 28, 18, 2, 15, 36, 38]

my_list = []

for i in a:
    if i not in my_list:
        my_list.append(i)
print(my_list)

[40, 45, 33, 34, 8, 38, 28, 22, 1, 7, 49, 41, 14, 5, 39, 15, 19, 36, 37, 43, 2, 42, 46, 48, 12, 20, 30, 4, 27, 29, 44, 32, 35, 10, 18]

প্রবলেম-৫
ইউজার একটা পূর্ণসংখ্যা ইনপুট দেবে। সেটির ওপর ভিত্তি করে আমরা *এর স্কয়ার ডিজাইন করব। অর্থাৎ ইউজার যদি 5 ইনপুট দেয় তাহলে নিচের মতো একটা স্কয়ার ডিজাইন করব।
*****
*****
*****
*****
*****

In [128]:
num =int(input("Enter a number: "))

for i in range(num+1, 1, -1):
    for j in range(num):
        print("*", end =" ")
    print("")

Enter a number: 6
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [129]:
#alternative solution using while loop
num =int(input("Enter a number: "))

temp = num

while num > 0:
    count = temp
    while count > 0:
        print("*", end = " ")
        count -=1
    print()
    num -=1

Enter a number: 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

প্রবলেম-৬
ইউজার একটি শব্দ ইনপুট দেবে। আমাদের প্রোগ্রাম দেখবে সেটি একটি প্যালিনড্রোম (Palindrome) কি না! প্যালিনড্রোম হলো কোনো শব্দ, সংখ্যা বা সিক্যুয়েন্স যাদের ওলটালেও ওই এক জিনিসই থাকে। যেমন : 707 কে ওলটালেও 707 ই থাকে। আবার Madam-কে ওলটালে Madam ই থাকে।

In [140]:
data =input("Enter input: ")

data =data.casefold()

reverse_data=data[::-1]
reverse_data

if reverse_data == data:
    print("It's a Palindrome")
else:
    print("It's not a Palindrome")

Enter input: 107
It's not a Palindrome

প্রবলেম-৭
এখন আমরা অনন্ত জলিলের খোঁজ দ্য সার্চ-এর প্রবলেম সলভ করব। ধরা যাক, ছোট থেকে বড় সাজানো বিভিন্ন সংখ্যার একটা তালিকা আছে। তালিকাটা নিচের মতো—

1, 3, 5, 7, 11, 13, 15, 17, 20, 26, 31, 44, 54, 56, 65, 77, 94, 100

এই তালিকা থেকে ইউজারের ইনপুট দেওয়া নির্দিষ্ট একটি সংখ্যা খোঁজ দ্য সার্চ করে বের করতে হবে।

In [149]:
my_list=[1, 3, 5, 7, 11, 13, 15, 17, 20, 26, 31, 44, 54, 56, 65, 77, 94, 100]

num = int(input("Enter a number: "))

first =0
last = len(my_list)-1
found = False
cycle =0


while first <= last and not found:
    midpoint =(first + last)//2
    if my_list[midpoint] == num:
        found = True
    else:
        if num < my_list[midpoint]:
            last = midpoint -1
        else:
            first = midpoint +1
    cycle +=1
print('Found after',cycle, 'cycle.')

Enter a number: 20
Found after 1 cycle.

(১) লুপ ব্যবহার করে ১ থেকে ১০০ পর্যন্ত পূর্ণসংখ্যাগুলোর সমষ্টি বের করতে হবে।

In [151]:
sum=0
n=1
while n <=100:
    sum=sum+n
    n+=1
print(sum)

5050

In [152]:
sum=0
for n in range(1, 101):
    sum+=n
print(sum)

5050

(২) ইউজার একটা পূর্ণসংখ্যা ইনপুট দেবে। সেটির ওপর ভিত্তি করে আমরা *এর ত্রিভুজ ডিজাইন করব। অর্থাৎ ইউজার যদি 5 ইনপুট দেয় তাহলে নিচের মত একটা ত্রিভুজ ডিজাইন করব।
*
**
***
****
*****

In [162]:
num=int(input("Enter a number:"))

for i in range(0, num+1):
    for j in range(i):
        print("*", end=" ")
    print(" ")

Enter a number:5

*
* *
* * *
* * * *
* * * * *

(৩) ১ থেকে ১০০-এর ভিতর যেসকল সংখ্যা রয়েছে, সেখান থেকে দৈবচয়নের মাধ্যমে বাছাই করে ন্যূনতম ত্রিশ সংখ্যার একটা লিস্ট তৈরি করতে হবে। এই লিস্টে একই সংখ্যা একাধিকবার থাকতে পারবে না। (এখন পর্যন্ত অর্জিত জ্ঞান দিয়ে সলভ করতে না পারলে, পুরো বই শেষ করে আবার চেষ্টা করতে হবে।)

In [168]:
import random

ran_number=[]
for i in range(30):
    num=random.randint(1,100)
    ran_number.append(num)
print(ran_number)

[3, 85, 81, 84, 9, 72, 5, 47, 100, 69, 70, 65, 50, 86, 47, 33, 85, 37, 43, 48, 75, 4, 24, 6, 16, 80, 63, 62, 6, 90]

(৪) A = {1, 2, 3, 4, 5} ও B = {5, 6, 7, 8} দুটি সেট। union() ও intersection() ফাংশন (আসলে মেথড) ব্যবহার না করে তাদের ইউনিয়ন ও ইন্টারসেকশন সেট C বের করতে হবে।

In [197]:
A = {1, 2, 3, 4, 5}
B = {5, 6, 7, 8}
c = A

for i in B:
    c.add(i)
print("The union of A & B is c =", c)

The union of A & B is c = {1, 2, 3, 4, 5, 6, 7, 8}

In [196]:
A = {1, 2, 3, 4, 5}
B = {5, 6, 7, 8}
D=[]
for i in A:
    for j in B:
        if (i==j):
            D.append(i)
print("The intersection of A & B is c=",set(D))

The intersection of A & B is c= {5}

In [206]:
A = {1, 2, 3, 4, 5,7,8}
B = {5, 6, 7, 8,1,2}
c = []

for i in B:
    if i not in A:
        c.append(i)
for j in A:
    #if j not in B:
        c.append(j)
        
print("The union of A & B is c =", set(c))  


D=[]
for i in A:
    for j in B:
        if (i==j):
            D.append(i)
print("The intersection of A & B is c=",set(D))

The union of A & B is c = {1, 2, 3, 4, 5, 6, 7, 8}
The intersection of A & B is c= {1, 2, 5, 7, 8}

List Comprehension

In [208]:
my_list=[i**2 for i in range(1,20) if i%2 == 0]
my_list

[4, 16, 36, 64, 100, 144, 196, 256, 324]

In [210]:
my_list=[]
for i in range(1,20):
    if i%2 == 0:
        my_list.append(i**2)
        
my_list

[4, 16, 36, 64, 100, 144, 196, 256, 324]

In [213]:
#Set Comprehension
a_list=[1,2,4,5,6,8,9,23,22,24,25]
my_set={i for i in range(1,50) if i%2 !=0}
print(my_set, end=" ")

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49}